*{
    margin:0;
    padding:0;
    
}

img{
    width: 100%;
    height:100%;
}


 /* styling the navbar */

.navbar_div{
    background: linear-gradient( #075a38, #01361f, #236649);
    height: 50px;
    position: fixed;
    width:100%;
    z-index: 1000;
    top: 0;

}

.navbar_menu{
    width:20%;
    height: 100%;
    float: left;
    position: relative;
    
    
}

#menu{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 30px;
   
}

#menu:hover{
    cursor: pointer;
}

.navbar_search{
    width: 60%;
    height: 100%;
    position: relative;
    float:left;
   
   
}

#search_form{
    padding: 5px;

}

#search_text{
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  font-size: 20px;
  
  

}

#submit_button{
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 9px;
    border: 0;
   
    background: none;
    color: black;
    font-size: 20px;
}

#submit_button:hover{
    cursor: pointer;
    color: black;
}

#sign_up_div{
    width: 20%;
    height: 100%;
    
    float: left;
    position: relative;

}

#sign_up{
    width: 50%;
    background: none;
    box-shadow: 0 0 10px rgb(145, 233, 145);
    border: 1px solid white;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    padding: 10px 0;
}

#sign_up:hover{
    cursor: pointer;
    padding: 12px 2px;
    background: #44aa83;
}







/* navbar styling ends */



/* fixed divs */


#side_bar_menu{
    height: 100vh;
    width: 100%;
    background: rgba(14, 13, 13, 0.5);
    position: fixed;
    top:0;
    display: none;
    z-index: 1001;
}

#sidebar_header{
    color: white;
    border-bottom-right-radius: 10px;
    
    text-align: center;
    background: #01361f;
    padding: 10px 0;

}



#menu_items{
    width: 25%;
    background: #01361f;
    min-height: 700px;
}

#menu_items_list li{
    color : white;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

#menu_items_list li:hover{
    background: #44aa83;
    box-shadow: 0 0 20px black;
    cursor: pointer;
}

.menu_list_icons{
    float: left;
    margin-left: 10px;
}

#close_menu{
    position: absolute;
    font-size: 20px;
    color:white;
    border-radius: 50px;
    width: 30px;
    background: rgb(185, 35, 35);
    text-align: center;
    position: absolute;
    right: 20px;
    top: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px red;
}

#close_menu:hover{
    padding: 4px;
    cursor: pointer;
    background: #e76161;
}


/* end of fixed divs */







/* media queries for navbar */

@media screen and (max-width : 350px){

    #menu{
        font-size: 20px;
        top: 17px;
        left: 1px;
    }

    .navbar_div{
        width: 100%;
    }

   

    #search_text{
        font-size: 13px;
        margin-top:3px;
    }

    #sign_up{
        font-size: 10px;
        margin-top:2px;
        
    }

    #menu_items{
        width: 100%;
       
    }
}

@media screen and (max-width : 768px){
    #menu_items{
        width: 100%;
    }
}



/* end of media queries for navbar */



/* carousel_container */

#carousel_container{
    min-height: 410px;
    width: 100%;
    background: #075a38;
    position: relative;
    margin-top: 50px;
    padding: 15px 0;
    
}

#carousel_div{
    width: 70%;
    height: 400px;
    background: #44aa83;
    position: relative;
    float: left;
}

#left_arrow{
    position: absolute;
    left: 2px;
    top:110px;
    width: 60px;
    text-align: center;
    font-size: 60px;
    color: black;
    border: 1px solid black;
    background: rgb(116, 121, 114);
    opacity: 0.7;
}


#left_arrow:hover{
    box-shadow : 0 0 10px rgb(203, 206, 202);
    opacity: 1;
}

#right_arrow{
    position: absolute;
    right: 2px;
    top:110px;
    width: 60px;
    text-align: center;
    font-size: 60px;
    color: black;
    border: 1px solid black;
    background: rgb(116, 121, 114);
    opacity: 0.7;
}


#right_arrow:hover{
    box-shadow : 0 0 10px rgb(203, 206, 202);
    opacity: 1;
    
}




#stories{
    width: 30%;
    float: left;
    overflow-y: scroll;
    height:400px;
    color: white;
}

#stories_header{
    text-align: center;
    color: white;
    padding: 10px 0;
    background: rgb(34, 155, 34)
}

#top_stories_ul li{
    list-style-type: none;
    height: 300px;
    margin-top: 10px;
    border: 1px solid silver;
    text-align: center;
    width: 95%;
    margin-left: 10px;
    box-shadow: 0 0 10px lime;
}

.stories_img{
    height: 150px;
}

.stories_clip{
    height: 150px;
    overflow-y: scroll;
}

#top_stories_ul li:hover{
    background: #44aa83;
    cursor: pointer;
}


/* end carousel_container */




/* body_container */

#home_contain{
    min-height: 400px;
    width:100%;
    
    background: #075a38;
}

.three_divs{
    width: 32%;
    float: left;
    
    margin-left: 12px;
    
    border-bottom-right-radius: 10px;
    border:1px solid silver;
    text-align: center;
    color: white; 
}

.three_divs_icon{
    float: left;
}

.three_divs_head{
    background: #24be7b;
    text-align: center;
    color: white;
}

.three_divs_paragraphs li{
    margin-top: 10px;
    list-style-type: none;
}

#three_divs_ul li{
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
}

/* end  body_container */


/* footer */

#footer{
    height: 70px;
    text-align: center;
    color: white;
    padding: 20px 0;
    background: #075a38;
}


/* end  footer */




/* media screens for body */


@media screen and (max-width: 768px){
    #carousel_div{
        width: 100%;
        
        
       
    }

    #carousel_container{
        height: 600px;
    }

    #carousel_div{
        height: 250px;
    }

    #left_arrow{
        top: 45%;
        width: 20px;
        font-size: 15px;
    }

    #right_arrow{
        top: 45%;
        width: 20px;
        font-size: 15px;
    }

    #stories{
        height: 350px;
        width: 100%;
    }

    
    .story_clip{
        font-size: 10px;
    }

    .three_divs{
        width: 100%;
        margin-left: 0px;
    }

    #home_contain{
        height: 800px;
    }

    #carousel_container{
        width: 100%;
    }
}



/* media screens for body */

